
.h3create{
    /* border-style: solid; */
    position: relative;
    left: 150px;
    width: 270px;
    top: 65px;
}

.createform {
    border-style: solid;
}
.createlabel {
    background: #ec5b60;
    display: flex;
    flex-direction: column;
    margin: 30px;
    box-shadow: 
        0 15px 25px rgba(3, 4, 5, 6);
    border-radius: 10px;
    /* width: 100%; */
    padding-top: 60px;
    padding-bottom: 60px;

}
.name-input {
justify-self: center;
border: none;
border-bottom: 1px solid; 
width: 50%;
position: relative;
left: 115px;
}
.description-input {
justify-self: center;
border: none;
border-bottom: 1px solid; 
width: 50%;
position: relative;
left: 115px;
}
.image-input {
justify-self: center;
border: none;
border-bottom: 1px solid; 
width: 50%;
position: relative;
left: 115px;
}
.price-input {
justify-self: center;
border: none;
border-bottom: 1px solid; 
width: 50%;
position: relative;
left: 115px;
}
input::placeholder {
color: black;
position: relative;
top: 10px;
}
.create-button {
border-style: solid;
border-color: #fbb7b8;
position: relative;
bottom: 100px;
background-color: #fbb7b8;
border-radius: 6px;
}

@media screen and (max-width: 480px) {
    .h3create{
        /* border-style: solid; */
        position: relative;
        left: 50px;
        width: 270px;
        top: 65px;
    }

    .createform {
        border-style: solid;
    }
    .createlabel {
        background: #ec5b60;
        display: flex;
        flex-direction: column;
        margin: 30px;
        box-shadow: 
            0 15px 25px rgba(3, 4, 5, 6);
        border-radius: 10px;
        /* width: 100%; */
        padding-top: 60px;
        padding-bottom: 60px;
    
    }
  .name-input {
    justify-self: center;
   border: none;
    border-bottom: 1px solid; 
    width: 50%;
    position: relative;
    left: 75px;
  }
  .description-input {
    justify-self: center;
   border: none;
    border-bottom: 1px solid; 
    width: 50%;
    position: relative;
    left: 75px;
  }
  .image-input {
    justify-self: center;
   border: none;
    border-bottom: 1px solid; 
    width: 50%;
    position: relative;
    left: 75px;
  }
  .price-input {
    justify-self: center;
   border: none;
    border-bottom: 1px solid; 
    width: 50%;
    position: relative;
    left: 75px;
  }
  input::placeholder {
    color: black;
    position: relative;
    top: 10px;
}
.create-button {
    border-style: solid;
    border-color: #fbb7b8;
    position: relative;
    bottom: 100px;
    background-color: #fbb7b8;
    border-radius: 6px;
}
}