.firstdiv {
  background: #fbdbdc;
    /* border-style: dashed; */
    position: relative;
    bottom: 0px;
    height: 685px;
}
.menutext {
  /* border: groove; */
  background: #fbb7b8;
  color: #ec5b60;
  position: relative;
  width: 100%;
  left: 0px;
  bottom: 18px;
  height: 30px;
}
div.container {
  /* position: relative; */
  display: flex;
  width: 100%;
  padding-left: 20px;
  /* border-style: solid; */
}
.image {
  /* border: solid; */
  opacity: 1;
  display: block;
  width: 30%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  border-style: solid;
  border-color: #ec5b60;
  background-color: #ec5b60;
  border-radius: 4px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 19%;
  left: 19%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.cakebutton{
  background-color: #ec5b60;
  border-style: solid;
  border-color: #ec5b60;
}
.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
@media screen and (max-width: 480px) {
    .firstdiv {
      background: #fbdbdc;
        /* border-style: dashed; */
        position: relative;
        bottom: 0px;
        height: 685px;
    }
    .menutext {
        /* border: groove; */
        background: #fbb7b8;
        color: #ec5b60;
        position: relative;
        width: 100%;
        left: 0px;
        bottom: 18px;
        height: 30px;
    }

    div.container {
        /* position: relative; */
        display: flex;
        width: 100%;
        /* border-style: solid; */
      }
      
      .image {
        /* border: solid; */
        opacity: 1;
        display: block;
        width: 50%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
      .middle {
        border-style: solid;
        border-color: #ec5b60;
        background-color: #ec5b60;
        border-radius: 4px;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 19%;
        left: 32%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      .cakebutton{
        background-color: #ec5b60;
        border-style: solid;
        border-color: #ec5b60;
      }
      
      .container:hover .image {
        opacity: 0.3;
      }
      
      .container:hover .middle {
        opacity: 1;
      }
    
}