.whole-container {
    background-color: #FBDBDC;
    height: 75px;
}
div.welcome {
    background-color: #FBDBDC;
    border-style: solid;
}
div.aboutdescription {
    position: relative;
}
.linktohome {
    color: #EC5B60;
    font-weight: 600;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    right: 220px;
}
.productslink {
    color: #EC5B60;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    bottom: 55px;
    right: 250px;
    
}
.logout-button {
    /* border-style: dashed; */
    background-color: #EC5B60;
    border-radius: 6px;
    position: relative;
    left: 250px;
    bottom: 35px;
}
.loginlink {
    border-style: solid;
    border-color: #EC5B60;
    border-radius: 6px;
    background-color: #EC5B60;
    color: black;
    border-width: 3px;
    text-decoration: none;
    position: relative;
    left: 200px;
    top: 20px;

}
.registerlink {
    border-style: solid;
    border-color: #EC5B60;
    border-radius: 6px;
    background-color: #EC5B60;
    color: black;
    text-decoration: none;
    position: relative;
    left: 210px;
    top: 20px;
}
/* mobile devices */
@media screen and (max-width: 480px) {
    .whole-container {
        background-color: #FBDBDC;
        height: 85px;
    }
    div.welcome {
        background-color: #FBDBDC;
    }
    .linktohome {
        /* border-style: dashed; */
        width: 35%;
        display: flex;
        align-items: flex-start;
        position: relative;
        right: 0px;
    }
    .productslink {
        color: #EC5B60;
        font-weight: 600;
        text-decoration: none;
        font-size: 20px;
        position: relative;
        top: 35px;
        right: 135px;
        
    }
    .first-div {
        
        display: flex;
        justify-content: space-around;
        /* margin-left: 145px; */
        width: 58%;
        position: relative;
        left: 155px;
        bottom: 34px;
        height: 29px;
    }
    .userfirstname {
        /* border-style: dashed; */
        color: #EC5B60;
        height: 20px;
        width: 60%;
        display: flex;
        position: relative;
        bottom: 4px;
        right: 10px;
    }
    .logout-button {
        background-color: #EC5B60;
    border-radius: 6px;
    position: relative;
    left: 0px;
    top: 60px;

    
    }
    .second-div {
        
        height: 30px;
        position: relative;
        bottom: 35px;
        
    }
    .loginlink {
        border-style: solid;
        border-color: #EC5B60;
    border-radius: 6px;
    background-color: #EC5B60;
    color: black;
    text-decoration: none;
    position: relative;
    left: 110px;
    top: 35px;

    }
    .registerlink {
        border-style: solid;
        border-color: #EC5B60;
    border-radius: 6px;
    background-color: #EC5B60;
    color: black;
    text-decoration: none;
    position: relative;
    left: 120px;
    top: 35px;
    }
}