
.signin-button {
    border: none; 
    border-radius: 10px;
   background: #fbb7b8;
    width: 150px;
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    
} 
.login-div {
    
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 160px;
}


@media (prefers-reduced-motion: no-preference) {
    .login-div {
        /* border-style: solid; */
         width: 100%;
         background-color: #FBDBDC;
         position: relative;
         bottom: 0px;
         padding-bottom: 280px;
         right: 20px;
     }
     input {
        justify-self: center;
        padding: 15px 0;
       font-size: 1rem;
       letter-spacing: 1px; 
        margin-bottom: 15px;
       border: none;
        border-bottom: 1px solid #fff; 
       outline: none;
       background-color: transparent;
       color: inherit; 
       position: relative;
       bottom: 30px;
    
    }
    .logintect {
        color: #fbb7b8;
        width: 60px;
        position: relative;
        align-self: center;
        bottom: 60px;
    }
    .login-form {
        background: #ec5b60;
        display: flex;
        flex-direction: column;
        margin: 30px;
        box-shadow: 
            0 15px 25px rgba(3, 4, 5, 6);
        border-radius: 10px;
        width: 350px;
        padding-top: 60px;
        padding-bottom: 60px;
        
    }
    /* div.container {
        background-color: #FBDBDC;
        border-style: solid;
        width: 50%;
    }

    .logintext {
        color: #fbb7b8;
        width: 60px;
        position: relative;
        align-self: center;
        bottom: 60px;
    }
    input {
        
        justify-self: center;
        padding: 15px 0;
       font-size: 1rem;
       letter-spacing: 1px; 
        margin-bottom: 15px;
       border: none;
        border-bottom: 1px solid #fff; 
       outline: none;
       background-color: transparent;
       color: inherit; 
       position: relative;
       bottom: 40px;
    
    }
    input::placeholder {
        color: black;
    }
    
    .login-div {
        
        border: solid;
        display: flex;
        width: 90%;
        margin-top: 200px;
        margin-bottom: 100px;
        position: relative;
        right: 20px;
        
    }
    .login-form {
        background: #ec5b60;
        display: flex;
        flex-direction: column;
        margin: 30px;
        box-shadow: 
            0 15px 25px rgba(3, 4, 5, 6);
        border-radius: 10px;
        width: 350px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .signin-button {
        border: none; 
        border-radius: 10px;
       background: #fbb7b8;
        width: 150px;
        display: flex;
        justify-content: center;
        align-self: center;
        cursor: pointer;
        
    } */
}